html {
  font-size: 62.5%;
  font-family: "Oswald-medium", sans-serif;
}
body {
  display: flex;
  width: 100vw;
  flex-direction: column;
}
aside {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-width: 12rem;
  background-color: var(--primary-color);
}
.logo {
  width: 50%;
  height: 80vh;
  background-image: url(../Assets/icon/LogoLab.png);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
.pablo {
  width: 30%;
  height: 90vh;
  background-image: url(../Assets/img/Pablo.jpeg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  margin: 5vh 8%;
  border-radius: 20vh;
}
.fernando {
  width: 30%;
  height: 90vh;
  background-image: url(../Assets/img/Fernando.jpeg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  margin: 5vh 8%;
  border-radius: 20vh;
}
.juan {
  width: 30%;
  height: 90vh;
  background-image: url(../Assets/img/Juan.jpeg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  margin: 5vh 8%;
  border-radius: 20vh;
}
.titulo {
  width: 70%;
  text-align: center;
  color: var(--Dark-soil);
  font-size: 5rem;
  margin: 20px auto;
}
#contenido {
  text-align: center;
  margin-bottom: 40px;
  margin: 20px auto;
  font-size: 1.5rem;
  line-height: 1.9rem;
}
