:root {
  --Soft-soil: #e6c37f;
  --Dark-soil: #25180c;
  --Linear-BG: linear-gradient(
    #006648 2%,
    #25180c 10%,
    #e6c37f 20%,
    #e6c37f 35%,
    #333333 40%,
    #bf7b43 45%
  );
  --Off-white: #f0f0f0;
  --Just-white: #ffffff;
  --Just-black: #000000;
  --Green-grass: #006648;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 70vh;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
html {
  font-size: 62.5%;
  font-family: "Oswald-medium", sans-serif;
}
ol,
ul {
  list-style: none;
}
body {
  overflow: hidden visible;
}
header {
  background-color: var(--Soft-soil);
  width: 100%;
  height: 18vh;
  display: flex;
  position: sticky;
  padding: 0 20px;
}
header div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-redes {
  display: flex;
}
.header-redes li {
  line-height: 30px;
  width: 100px;
  margin: 50px 0;
  text-align: center;
}
.pag-actual {
  background-color: var(--Off-white);
  border-radius: 18px;
  text-align: center;
}
.objetivo,
.first {
  display: flex;
  align-content: space-around;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  height: contain;
  padding-top: 30px;
}
.objetivo-titulo,
.first-title {
  width: 70%;
  text-align: center;
  color: var(--Dark-soil);
  font-size: 5rem;
  margin: 0px auto;
}
.objetivo-subtitulo {
  text-align: center;
  font-size: 5rem;
}
.objetivo-parrafo,
.first-parrafo {
  text-align: center;
  margin-bottom: 40px;
  margin: 20px auto;
  font-size: 2rem;
  line-height: normal;
}
.objetivo-parrafo {
  width: 70%;
}
.first-parrafo {
  width: 50%;
}
.introduccion {
  height: max-content;
  padding-bottom: 30px;
}
.introduccion-titulo {
  padding-top: 50px;
}
.ubicacion,
.introduccion,
.second {
  background-color: var(--Soft-soil);
  color: var(--Just-white);
  padding-top: 30px;
  display: flex;
  align-content: space-around;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  height: contain;
}
.ubicacion-titulo,
.introduccion-titulo,
.second-title {
  text-align: center;
  font-size: 5rem;
  margin: 20px auto;
}
.ubicacion-parrafo,
.introduccion-parrafo,
.second-parrafo {
  width: 70%;
  text-align: center;
  margin-bottom: 40px;
  margin: 20px auto;
  font-size: 2rem;
  line-height: normal;
}
.ubicacion-coordenada,
.introduccion-coordenada {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}
footer {
  width: 100%;
  height: 10vh;
  background-color: var(--Soft-soil);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px;
  position: bottom;
}
footer p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.8rem;
  text-align: left;
  color: var(--Just-white);
}
.carousel {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.carousel-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 440px;
}
#imagen {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#retroceder,
#avanzar {
  margin: 0 20px;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  border-width: 0;
  background-color: #00000080;
  font-size: 30px;
  color: #ffffff;
}
#retroceder:hover,
#avanzar:hover {
  background-color: #000000b0;
}
#retroceder:active,
#avanzar:active {
  background-color: var(--Just-black);
}
#retroceder:disabled,
#avanzar:disabled {
  display: none;
}
.controles {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
#stop {
  width: 70px;
  height: 40px;
  border-width: 0;
  border-radius: 20px;
  color: var(--Just-white);
  background-color: var(--Just-black);
  font-weight: bold;
  position: absolute;
  box-shadow: 0 0 8px var(--Just-white);
  margin-bottom: 10px;
  margin-left: 10px;
}
#stop:disabled {
  display: none;
}
#play {
  width: 70px;
  height: 40px;
  border-width: 0;
  border-radius: 20px;
  color: var(--Just-white);
  background-color: var(--Just-black);
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 10px;
}
