input {
  appearance: none;
}
div.interior {
  display: none;
}
input:checked ~ div {
  display: flex;
}
.list-hidder {
  display: block;
  text-align: center;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: var(--Soft-soil);
  padding: 10px;
  top: 20px;
  font-size: 2rem;
  color: white;
  margin: 20px auto;
  box-shadow: 0 2px 4px var(--Dark-soil);
}
label {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section {
  text-align: center;
  height: max-content;
  min-height: 35vh;
}
.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: max-content;
}
.contenedor-a {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: max-content;
}
.imagen {
  width: 50%;
  border-width: 12px;
  border: 12px solid var(--Dark-soil);
  box-shadow: 8px 8px 16px var(--Dark-soil);
  margin-bottom: 10px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 300px;
  margin: 20px;
}
#imagen-batolito {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Antioquia_shaded.png/1024px-Antioquia_shaded.png");
}
#imagen-usos {
  background-image: url("../Assets/img/Uso_suelos.jpg");
}
.geologia {
  display: flex;
  flex-direction: row;
  border-top: 10px solid var(--Dark-soil);
}
.descripcion {
  border-top: 10px solid var(--Dark-soil);
}
#geologia-regional,
#geologia-local {
  width: 50%;
  justify-content: space-between;
}
h3 {
  font-size: 2.5rem;
}
